/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.shell {
  background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
  transition: cubic-bezier(0.215, 0.610, 0.355, 5);
}

.round-top {
  border-radius: 12px 12px 0 0;
}

.location-tag {
  background: #777777;
  border-radius: 12px;
  margin: 15px;
  padding: 5px 10px 5px 10px;
  position: absolute;
}

.description-container {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}